.slide {
  display: block;
  margin: auto;
  min-height: 310px;
  max-height: 310px;
  position: relative;
  font-size: 0;
}

.slide__img {
  display: inherit;
  margin: inherit;
  min-height: inherit;
  max-height: inherit;
  min-width: 90%;
  max-width: 90%;
  border-radius: 10px;
  position: relative;
  object-fit: contain;
}

.slide p {
  position: absolute;
  margin: inherit;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-decoration: underline;
  text-shadow: 0 1px 0 black;
}

.slide:hover img {
  filter: opacity(90%);
  -webkit-filter: opacity(90%);
  -moz-filter: opacity(90%);
  -o-filter: opacity(90%);
  -ms-filter: opacity(90%);
}

.slide:hover p {
  font-size: calc(10px + 1vmin);
}
