.carousel {
  text-align: center;
  display: block;
  margin: auto;
  padding-bottom: 3%;
}

/* slick-carousel overrides */
.slick-dots {
  bottom: -35px;
}

.slick-dots li button:before {
  opacity: .4;
  color: rgb(255, 255, 255);
  font-size: 2vmin;
}

.slick-dots li.slick-active button:before {
  color: rgb(255, 255, 255);
  opacity: .8;
}

.slick-prev {
  left: -2%;
  z-index: 1;
}

.slick-next {
  right: -2%;
  z-index: 1;
}

.slick-slider {
  width: 92%;
  display: block;
  margin: auto;
}
